.gridMenu {
	-fx-background-image: url('MenuBG.jpg');
	-fx-background-size: stretch;
	-fx-background-position: top left;
    -fx-hgap: 30;
    -fx-vgap: 30;
}

.exitButton {
    -fx-background-color: 
        #596c92, /*090a0c */
        linear-gradient(#3d4f56 0%, #313940 20%, #2e363e 100%),
        linear-gradient(#334047, #2e363e),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 20px;
    -fx-padding: 10 20 10 20;
    -fx-min-width: 180;
    -fx-min-height: 70;
    -fx-max-width: 220;
}
.exitButton {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.exitButton:hover {
	-fx-background-color: 
        #596c92, /*090a0c */
        linear-gradient(#4d6974 0%, #3e4f5e 20%, #374b5e 100%),
        linear-gradient(#375565, #374b5e),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

.allOtherButtons {
    -fx-background-color: 
        #333f56, /*090a0c */
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 20px;
    -fx-padding: 10 20 10 20;
    -fx-min-width: 180;
    -fx-min-height: 70;
    -fx-max-width: 220;
}
.allOtherButtons {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.allOtherButtons:hover {
	-fx-background-color: 
        #3a4e65, /*090a0c */
        linear-gradient(#3d4f56 0%, #313940 20%, #2e363e 100%),
        linear-gradient(#334047, #2e363e),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}