.gridMakeReserv {
	-fx-background-image: url('allOtherPagesBG2.jpg');
	-fx-background-size: stretch;
	-fx-background-position: top left;
    -fx-hgap: 30;
    -fx-vgap: 30;
}

.presetLabel {
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.dayTextField, .monthTextField, .yearTextField, .pplNrTextField {
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-font-weight: normal;
    -fx-pref-column-count: 2;
}

.yearTextField {
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-font-weight: normal;
    -fx-pref-column-count: 3;
}

.resultLabel {
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.otherButtons {
    -fx-background-color: 
        #000000,
        linear-gradient(#2d4d6b, #1f325e),
        linear-gradient(#20355e, #152240),
        linear-gradient(#1f325c, #0f192f);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-font-family: "Arial";
    -fx-text-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-min-width: 100;
    -fx-min-height: 40;
    -fx-max-width: 150;
    -fx-border-radius: 14;
    -fx-background-radius: 14;
}

.otherButtons Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.otherButtons:hover {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
}

.backButton {
    -fx-background-color: transparent;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: "Comic Sans MS";
    -fx-min-width: 120;
    -fx-min-height: 40;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-width: 1px;
    -fx-border-color: #2e2e2f;
    -fx-border-radius: 14;
}

.backButton Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.backButton:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-text-fill: black;
    -fx-background-radius: 14;
}