.gridMakeReserv {
	-fx-background-image: url('allOtherPagesBG2.jpg');
	-fx-background-size: stretch;
	-fx-background-position: top left;
    -fx-hgap: 30;
    -fx-vgap: 30;
}

.presetLabel {
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.dayTextField, .monthTextField, .yearTextField, .pplNrTextField {
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-font-weight: normal;
    -fx-pref-column-count: 2;
}

.yearTextField {
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-font-weight: normal;
    -fx-pref-column-count: 3;
}